
trigger:
- master

pool: 'Azure Pipelines'

variables:
  imageName: 'barathece91/demo-azure-docker'

stages:
- stage: Build
  jobs:
  - job: "Build_Source_Code"
    timeoutInMinutes: 3
    steps:
    - script: ./mvwn clean package -U
      
- stage: "Unit_Test"
  jobs:
  - job: "Unit_Test_Code"
    timeoutInMinutes: 3
    steps:
    - script: ./mvwn test
#- stage: 'Code Quality'
#  jobs:
#  - job:  'Code Quality'
#    timeoutInMinutes: 3
#    steps:
#    - bash: ./mvwn sonar:sonar
- stage: "Docker_Build_Docker_Push"
  jobs:
  - job: "Docker_buildPush"
    timeoutInMinutes: 3
    steps:
    - task: Docker@2
      inputs:
        command: login
        containerRegistry: dockerRegistryServiceConnection
    - task: Docker@2
      displayName: Build and Push
      inputs:
       command: buildAndPush
       repository: $(imageName)
       tags:
       - latest
